[2014-02-14 04:19] miknei opened #1 "Merge() doesn't work with two pointer values"
I was looking at this package and noticed that it will fail if both parameters to Merge() are pointers to structs. One could ofc dereference `src`, but should it be necessary?

To illustrate:

[code]

[2014-04-10 20:21] billstar opened #2 "Errors reported have non-idiomatic naming"
The global error vars, NilArgumentsErr, DifferentArgumentsTypesErr and NotSupportedErr should probably have names like ErrNilArguments, etc. This style of error naming is more consistent with other golang code.

[2014-06-25 22:31] #2 closed, assigned to nobody

[2014-06-26 12:25] #1 closed, assigned to nobody

[2014-09-02 13:24] blackrosezy opened #5 "How about subtract?"
It is nice if we can do the opposite action, subtract/remove.

[2014-09-07 18:58] worg opened #6 "Fails to merge when using a pointer to a struct"
I don't seem to find out why the tests pass in stuff like  `complexTest` but fails to merge correctly stuff like the following:

[code]

[2014-10-14 03:03] lintianzhi opened #7 "why not just use a function to realize Merge&Map?"
1. same type
2. src: map, dest: struct
3. src: struct, dest: map

this three item can be all in a function with no confusion

[2014-10-14 18:15] #6 closed, assigned to nobody

[2014-12-06 19:01] #7 closed, assigned to nobody

[2015-01-03 23:59] imdario commented on #5
Revisiting this issue. I think we should remove equal fields. I don't see the point to remove different ones (and getting two identical structs).

Yes, I will implement it as this, removing equal fields.

[2015-02-03 13:38] elwinar opened #10 "Unclear documentation"
I find the description of the `Merge` method quite unclear: after reading, I thought that zero-value fields of the destination were overridden by the matching field of the source. I had to dig in the source code and the tests to understand it worked the other way around.

It may have to do with me being tired, but I think that providing a simple and visual example that can be copy-pasted for demon

[2015-02-14 02:31] Jmeyering opened #11 "Merging maps within structs"
Considering this example

[code]

What am I doing wrong to be getting this error?

Adding This line solves the problem and merges happen as expected. But its not ideal.

`Foo.A = map[string]string{}`

[code]

[2015-02-15 19:50] #11 closed

[2015-02-15 21:56] imdario commented on #11
Sorry, I didn't see your issue. Probably I could check it in the next weeks to improve the way Mergo works in this case.

[2015-02-16 02:13] Jmeyering commented on #11
I closed because my example had a problem that ended up being a case of me not RTFM.

However I did have a question regarding deep merging slices.

Example would be having two structs with a field of `[]string` and instead of completely overwriting, appending values on to do a true deep merge.

Thoughts on this?

[2015-04-06 19:17] imdario commented on #11
That's a nice idea but it would be confusing due the way of work of Mergo. It works on zero values so appending values isn't exactly the same.

I don't know right now how to handle this good idea in a proper and non-confusing way.

[2015-04-06 19:52] imdario commented on #10
Done. Thanks for you feedback!

[2015-04-06 19:52] #10 closed

[2015-04-08 15:27] rexposadas opened #13 ""Nice example" from readme no longer gives a valid result"
I was using mergo prior to April 6th, 2015. So I did `go get -u github.com/imdario/mergo` and ran the "Nice example" in the readme. The result was:

`{two 2}`  and not as advertised:

    fmt.Println(dest)
    // Will print
    // {one 2}

[2015-04-08 17:45] imdario commented on #13
The example is fixed. Destination's non-zero fields are not overrided by design. Otherwise it would be just a instance cloner.

[2015-04-08 17:45] #13 closed

[2015-04-16 15:28] accerqueira opened #14 "MergeWithOverwrite behavior on struct field inside a map"
Hi,

I would expect that fields from a struct on a map would only be overwritten by MergeWithOverwrite if the src struct field was not empty valued, but according to the following test, it seems to be overwriting anyway on map to struct and map to struct pointer.

[code]

`go test -v mergo_test.go` gives me the following output

[code]

It seems to work the way I expected for struct and struct of

[2015-10-16 20:20] aanm opened #17 "panic: runtime error: invalid memory address or nil pointer dereference [recovered]"
I'm getting an error
[code]

[2015-10-18 09:55] imdario commented on #17
Please, can you provide an example showing how are you calling MergeWithOverwrite and what kind of parameters?

[2015-10-20 16:15] aanm commented on #17
@imdario Sorry for the delay, my example was more complex so I had to create a simple one.
I also tried with `MapWithOverwrite` and got the same output, what is the difference between `MapWithOverwrite` and `MergeWithOverwrite`?

[code]

[2015-10-24 11:47] imdario commented on #17
Ok, working on it. I add it as an unit test and I'm checking it.

[2015-10-24 14:01] imdario commented on #17
Done. There was missing an "if" to check if the value from src was nil. I should check if there is another corner case like this in other points of the code.

[2015-10-24 14:01] #17 closed

[2015-11-02 14:39] asdine opened #18 "Map with time.Time"
Hi,

I can't manage to copy time variables from a map to a struct :

[code]

Am i missing something?

[2015-11-02 23:24] imdario commented on #18
Quick tip: it works using a pointer for Birth.

    type Bla struct {
        Name strint
        Birth *time.Time
    }

I'm working in a test which also covers Merge. Actually it works with or without pointer, so it must be a bug in Map. Thanks for your report.

[2015-11-02 23:48] imdario commented on #18
Ok, I had seen it. First, the "bug" is on Merge, not in Map as I said before (sorry, still :zzz:). I double quote "bug" because this behavior it is how Mergo works. I just didn't realize that [time.Time has no exported fields](https://golang.org/src/time/time.go?s=1855:2369#L29) so Mergo can merge.

As stated in the README:

Yes, it's a shame but it's because [reflect.Value.CanSet()](https://golan

[2015-11-03 09:20] asdine commented on #18
Hi!

Using a pointer to time is totally ok for my use case.
Thank you for the tip :)

[2015-11-03 09:41] imdario commented on #18
Cool! Closing issue. Thanks you for your patience.

[2015-11-03 09:41] #18 closed

[2016-02-24 21:37] iampeter commented on #18
@imdario I have a similar issue with a type build upon `time.Time`:
[code]
The type is used for date-only JSON representation. I AM using a pointer to Date and `MergeWithOverwrite` does not work unfortunately.

Could you help with this?

[2016-02-24 23:44] iampeter opened #23 "Issue with type based on time.Time"
I have a `Date` type:
[code]
The type is used for date-only JSON representation. I AM using a pointer to Date:

[code]

 and `MergeWithOverwrite` does not work unfortunately.

Could you help with this?

[2016-02-25 15:47] imdario commented on #23
Yes, sure. I'll check it this weekend.

[2016-02-25 15:53] iampeter commented on #23
Thanks @imdario

[2016-02-29 14:41] iampeter commented on #23
@imdario any luck with this? thanks

[2016-03-01 08:48] imdario commented on #23
No, sorry, I was kinda sick and I didn't have the energy to look at this. I will try this week.

[2016-03-01 21:16] iampeter commented on #23
ok thanks @imdario

[2016-03-05 09:35] iampeter commented on #23
I just tested with just `*time.Time` (no new type) and it seems to 'go deeper' anyway - does not overwrite.

[2016-03-05 09:39] iampeter commented on #23
@imdario, doesn't this:
[code]

mean that if the destination pointer exists, it will try to deep-merge anyway, instead of overwriting the whole struct the pointer points to?

[2016-03-08 21:38] imdario commented on #23
Yes, you are right. "overwrite" should be used with dst.IsNil(). If dst is not nil, as in your case, it won't check if it must overwrite it anyway. Good catch! I modify it, test and push it to master.

[2016-03-08 21:59] imdario commented on #23
A little test and... Ta-da! That little sneaky bug has been fixed. Please, update your local repository and check if it works for you too.

Sorry for not being able to work on this before.

[2016-03-09 08:34] iampeter commented on #23
Great, thanks @imdario !

[2016-03-09 08:34] #23 closed

[2016-03-09 15:10] strmaks opened #24 "Issue with boolean type (bool)"
If struct has a boolean fields, merge result is prefer true value, but this is not correct.
Example:

[code]

[2016-03-09 20:12] imdario commented on #24
This is the expected behavior. As stated in README:

The zero value of a boolean field is false. It isn't possible to avoid it even with a pointer because Merge follows the pointers too. So, when it finds a pointer to bool with false value, it will overwrite with a true value if src matching field is true.

If you have any doubt, don't hesitate to ask me.

[2016-03-30 06:31] onlyjob opened #25 "please update to "gopkg.in/yaml.v2""

[2016-04-08 14:19] idrarig opened #26 "Inconsistent behaviour when merging maps"
I'm pasting a test case that shows inconsistent behaviour when merging maps. I hope it's clear enough. This problem appeared with commit 65847eaa22876897dd35728eb47c4009972e1b17  that fixed issue #23.

[code]

[2016-04-09 21:15] imdario commented on #26
I'll check this during next week, as I'm out of office until Monday.

[2016-05-16 09:04] strmaks commented on #24
Thank you.

[2016-05-16 09:04] #24 closed

[2016-07-11 11:07] buoto opened #30 "Mapping into struct with pointer values"
Hi,
it would be nice if Map/MapWithOverwrite could handle nested pointer values, just like Merge does. For example:

[code]

results:

[code]
instead of:
[code]

Edit: Added desired results example

[2016-07-21 00:46] pjebs opened #31 "example in readme"
Is the example correct? what am i meant to be seeing?

[2016-08-18 14:46] 2opremio opened #33 "Merge is broken for structs with slices"
At some point after 6633656539c1639d9d78127b7d47c622b5d7b6dc  (the version currently vendored by kubernetes, which works fine), merging broke for structs containing byteslices.

Here's a simplificed repro

[code]

[2016-08-18 15:33] 2opremio commented on #33
For context on the importance of this bug, it completely breaks the configuration parsing in kubernetes.

[2016-08-18 15:46] 2opremio commented on #33
`git bisect` reveals that `d304790b2ed594794496464fadd89d2bb266600a` introduced the problem

[code]

[2016-08-18 15:55] imdario commented on #33
I'm going to check this as soon as possible, although I'm sorry that won't be today.

The change you point was intentional. Here is why:

[2016-12-10 16:54] xh3b4sd opened #34 "Why is "You can only merge same-type structs"?"
In our microservices we have a strict separation of transport and business logic. That means we implement an endpoint and a service. Both very often have very common request/response structures. So instead of writing all the struct mapping down and having very verbose code I would like to merge these structs dynamically. In the readme it says this.

I am wondering for what reason this is. Based on

[2017-01-04 18:55] FrenchBen opened #35 "Slice and Maps are handled differently"
Say you have something similar to the example you provided in the README , but instead deal with maps and slices, giving you something like this:
[code]

Why is it that the behavior of Merge is to append to maps but completely over-write the slice?

[2017-02-22 19:59] theo01 opened #38 "struct with unexported fields"
I came across an issue where struct with unexported fields are not merged.

A good example is type time.Time

[code]

[2017-03-26 20:21] imdario commented on #38
First of all, sorry. Second, I will take care of this this next week.

[2017-03-26 20:25] imdario commented on #35
First of all, sorry. Second, I will take care of this this next week.

[2017-03-26 20:25] imdario commented on #34
First of all, sorry. Second, I will take care of this this next week.

[2017-03-26 20:25] imdario commented on #33
First of all, sorry. Second, I will take care of this this next week.

[2017-03-26 20:25] imdario commented on #30
First of all, sorry. Second, I will take care of this this next week.

[2017-03-26 20:25] imdario commented on #26
First of all, sorry again. Second, I will take care of this this next week.

[2017-03-26 20:43] imdario commented on #31
You were right, it was confusing. It was a real example but ill-suited to show what mergo can do. I just changed it.

[2017-03-26 20:43] #31 closed

[2017-03-26 20:44] imdario commented on #25
Changed. Thanks!

[2017-03-26 20:44] #25 closed

[2017-03-26 22:01] xh3b4sd commented on #34
No worries. I thought it was a low hanging fruit and tried to solve it on my own but devil is in the details. It did not work out that easily with all arbitrary objects. E.g. having slices and pointers in structs was an issue IIRC.

[2017-04-11 14:32] rtuin opened #41 "Make a release/tag"
Hi there,

It's been a while since the latest release (Feb 2016) and updates have been done since.
To make dependency management easier for applications it would be great if mergo can make a new tag/release for changes.

What do you think?

[2017-06-03 15:55] mandrean commented on #33
@imdario Status?

[2017-07-31 22:28] buoto commented on #30
Are there any chances for merging this PR? ;)

[2017-07-31 22:45] imdario commented on #30
I had some hellish months. Sorry about that. I'm on holidays, I'll try to check this during the next two weeks.

[2017-10-07 05:14] wanghq commented on #35
@imdario any conclusion on this?

[2017-10-09 17:17] imdario commented on #41
Sorry for being so late. I'm going to fix several issues so I made a new release (0.2.3) before changing anything: https://github.com/imdario/mergo/releases/tag/0.2.3

[2017-10-09 17:17] #41 closed

[2017-10-09 17:24] #30 closed

[2017-10-09 18:29] imdario commented on #38
Thanks for your PR!

[2017-10-09 18:29] #38 closed

[2017-10-09 18:30] imdario commented on #35
I'm working out issues and PRs right now (finally, I know). I'll update this as soon as possible.

[2017-10-09 18:32] imdario commented on #34
Merging is a tricky beast. Anyway, I'll try to solve other issues and PRs and visite this one later. If you don't mind, I close it just to make sure I don't leave anything without checking.

[2017-10-10 19:05] wanghq opened #43 "How to reset field to zero value?"
Seems there is no way to reset a field to zero value, e.g. reset true with false, reset 1 with 0. Probably the lib shouldn't [follow](https://github.com/imdario/mergo/blob/master/merge.go#L111) a pointer if it points to primitive types.

[code]

Output
[code]

[2017-10-12 15:20] bdcribbs opened #44 "ErrNotSupported when merging structs"
When I attempt to merge two structs, I get an ErrNotSupported.  I poked into it a little bit, and ran across this comparison:

https://github.com/imdario/mergo/blob/7fe0c75c13abdee74b09fcacef5ea1c6bba6a874/mergo.go#L60

It looks to me like it is impossible for that condition to ever evaluate as `false`.

If kind is struct, then it’s `false && true`
If kind is map, then it’s `true && false`
If kind

[2017-10-16 09:56] the4thamigo-uk commented on #35
This also is important behaviour for us so we have to roll our own merge function at the moment. Id love to use mergo though as it is more complete.

[2017-10-18 21:54] the4thamigo-uk opened #46 "Fail on conflict"
I can see that mergo merges when the destination is non-zero and that there is also a forced overwrite option, but I have a use case where I want to report an error (and abort the merge), if an attempt is made to merge a field that already is non-zero in the destination object. I'd like to submit a PR to support this behaviour. Do you agree that this is useful?

[2017-10-19 19:09] imdario commented on #43
I'll get around this ASAP but I think it's kind of no retro compatible change in behavior.

[2017-10-19 19:10] imdario commented on #44
How are your structs? Thanks!

About this comparison, I agree it's kind of strange. I'll get around this soon.

[2017-10-19 19:11] imdario commented on #35
Thanks for the feedback. I'll check this out soon.

[2017-10-19 19:12] imdario commented on #46
It's an interesting idea. Something like TryMerge or MustMerge could be a good name for this behavior.

[2017-10-19 19:27] imdario commented on #35
I must check again map handling in order to be sure that this is the way to go. PR #45 looks good to me but I don't feel sure about this change yet.

[2017-10-27 02:40] hurrycaine opened #47 "MergeWithOverwrite nil pointer source overwrites non-nil destination"
Thanks for creating and maintaining this package, it is a great help.

I found a bug with structs and nil pointers.
There was a check when the destination was nil but not vice versa.
So in an example where the destination has a pointer that represents a value, and the source is nil. The source should not overwrite the destination... but it currently does.

Here is a little command to reproduce the

[2017-10-27 21:36] hurrycaine commented on #47
After the PR the command above will return

[code]

[2017-12-02 05:43] masahide opened #50 "panic: 'reflect: call of reflect.Value.NumField...' at anonymous field"
Panic with the following test code. 😇

[code]

[code]

[2018-01-03 10:10] euskadi31 commented on #50
I have same problème

[2018-01-04 10:47] #50 closed

[2018-01-04 10:48] imdario commented on #50
Merged. Thanks for your PR!

[2018-01-08 07:33] mixj93 commented on #47
thanks a lot

[2018-01-08 07:55] #47 closed

[2018-01-11 16:16] nerde opened #52 "Times are being overwritten even when src is empty"
I'm using mergo with structs that can have empty times. I expected it not to overwrite times in destination when the value in source is empty (`time.IsEmpty()` returns `true`).

Sample failing test:
[code]

Output:
[code]

Is this expected behavior or can I go ahead fork & change it?

[2018-01-11 20:03] #35 closed

[2018-01-11 20:20] imdario commented on #52
This is expected behavior. Mergo checks for zero values of basic types. time.Times isn't a basic type but a struct. Although semantically time.Time{} is empty, it isn't an empty struct because it has non-zero fields.

Changing this behavior would mean to support every possible way to check if a struct is semantically empty, calling specific functions. It could work for stdlib's non-basic types but

[2018-01-11 23:04] imdario commented on #52
Ok, I understand what is happening. As per MergeWithOverwrite's documentation:

As I said in my previous comment, time.Time can be semantically empty (as in IsZero() returns true) but it is a struct. Structs in Go don't have a zero value by themselves, as described in the [official documentation about zero value](https://golang.org/ref/spec#The_zero_value):

So the overwriting behavior works as ex

[2018-01-11 23:15] imdario commented on #46
As #49 has been merged, we can implement this easily. I was thinking how to call it and I would go for CleanMerge (as in clean shot). It only would fail if Merge finds a non-zero attribute in destination and the soure attribute isn't zero.

[2018-01-11 23:42] imdario commented on #44
Ok, it wasn't soon but I'm getting around this today. We must "open" the scope and understand what we are trying to achieve at this line. It belongs to the function `resolveValues` and it's called from `Merge` and `Map`.

As per Mergo's documentation:

So, we need to check that source and destination are:

- both structs with equal type
- both maps with equal type
- a map and a struct (or otherwis

[2018-01-11 23:42] #44 closed

[2018-01-11 23:43] #52 closed

[2018-01-11 23:59] nerde commented on #52
Thank you so much @imdario for the explanation. I'm gonna use the Transformer approach.

[2018-01-12 00:21] imdario commented on #33
I finally got time to read this issue carefully (as they are usually tricky because Mergo isn't so simple as it looks!).

I wrote a test to offer a solution for this:

[code]

I hope @2opremio and Kubernete's crew can use the last release available (0.3.0 as we speak).

[2018-01-12 00:21] #33 closed

[2018-01-12 10:34] 2opremio commented on #33
I since moved to other endeavors, but thanks for the effort!

[2018-01-12 14:54] ghouscht opened #54 "merging structs with opiton "WithOverride" not consistent"
Hi,
In my opinion merging nested structs isn't really consistent when using the option "WithOverride". If you nest a struct "by value" or "by pointer" the behaviour of merge with override is different. (Possibly a duplicate of #14)
Example Code:
[code]
This code prints the following two lines:
[code]

Quote from the documentation: _WithOverride will make merge override non-empty dst attributes wit

[2018-01-14 13:43] ghouscht commented on #54
Wrote a few lines of code to solve my problem (see referenced commit). Still some work needed as stated by the TODOs in the code. If there is interest in this, I can continue with solving the TODOs and writing some more tests.

Currently there is one failing test with my additions (TestIssue23MergeWithOverwrite) which I also need to further investigate.

Please let me know wheter I should continue

[2018-01-15 10:29] imdario commented on #54
I'll check this later. Thanks!

[2018-01-15 18:50] ghouscht commented on #54
The changes and tests from the referenced commit were actually wrong (had some troubles with the terminology of "WithOverride").

Fixed the issues a few minutes ago and https://github.com/ghouscht/mergo  branch master should be ok now. I also found out why "TestIssue23MergeWithOverwrite" was failing with my changes, see commit https://github.com/ghouscht/mergo/commit/f2027b273c442aaa4b35f14e022a56

[2018-01-18 19:10] briansorahan opened #55 "transformer should be exported"
[WithTransformers](https://github.com/imdario/mergo/blob/2b9c8687f09d230f37f169eea24e1951bb7d1191/merge.go#L189) is using an unexported type.

[2018-01-18 19:11] briansorahan commented on #55
Also just noticed there are several exported funcs using the `config` type which is also not exported.

[2018-01-25 18:48] ghouscht commented on #54
any news on this?

[2018-01-25 23:21] imdario commented on #54
Please, make a PR. It will be easier for me to check your changes.

[2018-01-26 11:20] sayanh opened #61 "Panics while merging objects which are having nil maps"
Trying to merge objects which are having nil maps, I get an exception as `assignment to entry in nil map`
Recommended: If a primitive data type is uninitialized, why don't we initialize that data type and merge?

[2018-01-26 14:36] imdario commented on #61
Can you provide a code example, please? Just to be sure about what you try to accomplish.

[2018-01-28 20:15] ghouscht commented on #54
Opened PR #62 for you, thanks for checking.

[2018-02-11 10:55] wen-bing opened #64 "Merge slice with override no effect"
[code]
I expect s2's Books are overrided by s1's Books, however the test failed.

[2018-02-13 04:27] ravernkoh commented on #64
I think the slice is appended.

[2018-02-14 04:53] nbrownus commented on #61
I think I am facing a similar problem, here is the shortest example I've come up with so far:

[code]

Results in
[code]

[2018-02-15 09:58] hosszukalman opened #66 "Panic when trying to merge a struct with private slice field"
When you try to merge objects and the destination object has unexoprted slice field, mergo throws a panic: `panic: reflect: reflect.Copy using value obtained using unexported field`

[2018-03-05 14:31] kron4eg opened #68 "Semantic versioning?"
Hello,

I see you doing versioning, and that's awesome! But it's not semantic. Please consider adding `v` as a prefix.

For tools (like dep or vgo) to automatically pick-up release tags those need to be prefixed with `v`, like your latest release 0.3.2, should be `v0.3.2`. dep and vgo will pick those up automatically in that case.

Thanks!

[2018-03-20 01:59] Rican7 commented on #66
I just ran into this myself 😞

[2018-03-27 18:25] jvalentini commented on #66
:+1: Same here

[2018-03-28 05:16] rajatjindal opened #72 "Merging a struct with itself duplicate elements in slices"
merging a struct with itself results in duplicate elements in the slice. refer to the attached test which demonstrate the behavior.

https://gist.github.com/rajatjindal/35da5b59f7ba77d963f6191e7d910420

this is causing an issue for me when using client-go of kubernetes, and I am wondering if you can atleast confirm if this is a bug or expected behavior so that i can talk to kubernetes dev about po

[2018-04-01 20:36] imdario commented on #68
You are right. I just edited the last release and I'll keep this format. Thanks!

[2018-04-01 20:36] #68 closed

[2018-04-01 20:40] imdario commented on #54
It took some time but I'm checking it now. I'm having problems to understand the full reach of your modification because the PR has smaller edits to unrelated things. Anyway, I'll do my best and merge as soon as possible.

[2018-04-01 21:01] imdario commented on #54
Ok, I think now I get it. Sorry, I can't accept it as is. It doesn't feel safe to change behavior in such way.

Also, I ran your example code and I must say that it works as expected. Please follow my explanation in #52:

[...] As per MergeWithOverwrite's documentation:

[...] time.Time can be semantically empty (as in IsZero() returns true) but it is a struct. Structs in Go don't have a zero valu

[2018-04-01 21:01] #54 closed

[2018-04-02 10:21] imdario commented on #64
@wen-bing, I checked your code and I confirm that the slice is being appended as @ravernkoh pointed. I think can be a bug but I need to check all the issues to see if it was reported before.

[2018-04-02 10:26] imdario commented on #72
I'm checking this. It looks related to #64 and #35. I think I introduced through PR #45.

[2018-04-02 10:47] imdario commented on #72
Confirmed. It was introduced in PR #45 on purpose. The reason was to handle maps and slices in coherent ways. Merge will append to slices as it adds missing keys in maps. It doesn't check for duplicates as appending to a slice doesn't check it either.

The workaround is to write a Transformer.

[2018-04-02 11:02] imdario commented on #64
Ok, after reviewing other issues, Mergo works as intended. Merge will append to slices as it adds missing keys in maps. But you are right. WithOverride should work different, as it shouldn't append to destination slice.

[2018-04-02 11:21] imdario commented on #64
It has been solved thanks to PR #70.

[2018-04-02 11:21] #64 closed

[2018-04-02 13:50] imdario commented on #61
Issue solved.

[2018-04-02 13:50] #61 closed

[2018-04-02 13:50] imdario commented on #66
Issue solved on release v0.3.3.

[2018-04-02 13:50] #66 closed

[2018-04-02 13:52] #55 closed

[2018-04-02 13:56] imdario commented on #55
Fixed in release v.0.3.3.

[2018-04-02 14:29] imdario commented on #26
I guess it doesn't matter anymore but I checked this today, almost two years later. Shame on me.

This behavior is confusing but expected. I wrote a test to show what happens with structs, as we try to keep merging behaviors coherent between types.

[code]

This fails in the second mergo too, as dst.A.B.C is "". The main point is the merging scope (undocumented concept, I'm just creating it now).

[2018-04-02 14:29] #26 closed

[2018-04-02 14:32] imdario commented on #43
I took longer than expected but I looked it at last. As there is no way to know when a field has a zero-value by default or on purpose, we cannot change it in the core.

You could use a Transformer, introduced in late 2017, to work around this.

[2018-04-02 14:32] #43 closed

[2018-04-02 14:34] imdario commented on #46
@the4thamigo-uk, what do you think about my previous comment? I would love to have feedback about how to call it.

[2018-04-02 14:42] imdario commented on #64
And it has been released as v0.3.3.

[2018-04-02 14:49] imdario commented on #34
It had been a long time (2013-2014) but I think this was a design decision to keep Mergo as simple as possible. If I'm not wrong, it should be possible to merge different struct types as long as they share fields with equal name and type.

In the next month I'll work on this. It shouldn't be difficult but it can break things.

[2018-04-19 08:52] guilhem commented on #72
@imdario maybe it would be awesome to have an option "append if different".

I have some problem here: https://github.com/barpilot/node-labeler-operator/blob/master/service/labeler/controller.go#L120
I'm merging a definition to an actual object when done both must be equal and not append again :)

[2018-06-09 20:14] trajber opened #83 "Emptying dst slice"
is this behavior correct?
I was expecting the dst.Data to be empty after the merge since I'm using the Overwrite option.

[code]

[2018-06-15 10:43] requilence opened #84 "Map() map[string]interface{} -> struct, overwrite not working for zero values"
[code]

Expected result:
`{A:3 B:4 C:0}`

Actual result:
`{A:3 B:4 C:2}`

Looks like Overwrite ignores Value if it is zero.
But it must overwrite struct field in case map have the corresponding key set. Regardless of it's value

[2018-07-03 13:05] imdario commented on #84
I'm aware I have to check this but it will take two weeks to be able to do it. Sorry for my slowness.

[2018-07-04 14:34] wen-bing commented on #64
Awesome, Thanks!

[2018-07-26 01:03] tigp commented on #34
@imdario Is it still impossible to merge two different types?

[2018-07-30 14:32] PraveenUpadhyay commented on #5
@imdario If you want, I can contribute to this request. Even I am looking for this feature.

[2018-07-31 19:39] imdario commented on #5
Go for it, @PraveenUpadhyay. Thanks!

[2018-09-24 14:15] mberlanda opened #89 "bool custom Transformer for non zero-value false"
hi @iamdario,

I recently introduced `mergo` on one of our projects.

I came up with an issue very similar to #24 :

[code]

Do you think it could be handled with some custom transformers?

[2018-11-01 16:03] luisdavim opened #90 "panic: reflect: reflect.Value.Set using unaddressable value merging nested structures"
Hi,

I want to do a deep merge where non-empty dst attributes are overwritten with non-empty src attributes values but slices are appended, is this possible?

Can someone help me understand why this does't work?
[code]

I get:
[code]

So, the first merge works but the second one fails.

Thanks

[2018-11-03 17:34] luisdavim commented on #90
If I use `Other map[string]*Other` instead of `Other map[string]Other` it doesn't crash but I don't get the expected merge results the structures inside the map are replaced instead of merged.

[2018-11-12 12:14] hectorj2f commented on #89
Is there any progress on this ? I am facing the same issue

[2018-11-19 15:27] dshylov opened #91 "Invalid merge of two map[string]interface{}"
Merge of
[code]

will returns

`map[first:1]`

[2018-11-19 15:39] dshylov commented on #91
Result with `mergo.WithOverride` is the same

[2018-11-20 17:35] iSynth opened #92 "Got an "only structs and maps are supported" on merge two identical structs"
I have a two identical structs and I want to merge them.

[code]

panic: only structs and maps are supported

[2018-11-27 19:46] birdayz commented on #91
i've just discovered the same issue. is this intended?

[2018-12-04 13:18] dshylov commented on #91
@imdario any updates?

[2018-12-06 15:19] luisdavim commented on #89
I think this is the same issue reported in https://github.com/Praqma/helmsman/issues/137

[2019-01-02 19:07] 0x1mason commented on #91
@dshylov From README `You can only merge same-type structs with exported fields initialized as zero value of their type and same-types maps.` You've got different types.

[2019-01-10 11:04] ramonskie opened #93 "go: verifying github.com/imdario/mergo@v0.3.6: unexpected ziphash: """
currently is receive the following error when running `go get github.com/imdario/mergo`
`go: verifying github.com/imdario/mergo@v0.3.6: unexpected ziphash: ""`

could it be that the package is corrupt
or is there something wrong on my end

[2019-01-10 14:15] ramonskie commented on #93
needed to delete the file in `$GOPATH/pkg/mod/github.com/imdario/mergo`

[2019-01-10 14:15] #93 closed

[2019-01-14 10:35] prabhu43 opened #94 "Merge With Override And AppendSlice fails for map"
Hi @imdario

We merged two maps with Override and also AppendSlice , which is taking Override as high precedence than AppendSlice for slices too.

Expected behaviour: We want Override for non-slice and AppendSlice for slice. The following Test should `PASS`, but it's failing currently

[code]

We went through the code and found it's because of this part of code

https://github.com/imdario/mergo/bl

[2019-01-18 09:41] ernsheong commented on #18
I understand that `var t time.Time` is an empty struct and not considered a zero-value and hence `time.Time` is not merged, but `*time.Time` is merged.

Perhaps this is a special use case worth exploring, either by default or with a Transformer (preferred).

[2019-01-23 23:32] imdario commented on #94
Sorry for not answering before. Please test this against the last release (v0.3.7) as it fixes some bugs related to Override.

[2019-01-23 23:38] imdario commented on #92
I'm unable to reproduce this. It works as expected:
[code]

Output:

[code]

[2019-01-23 23:38] #92 closed

[2019-01-23 23:41] imdario commented on #91
@0x1mason, actually, maps are more flexible. Both maps have the same type map[string]interface{} so they should count as "same-type maps" but I'll check it.

[2019-01-27 12:37] prabhu43 commented on #94
@imdario It's working as expected in the new version. Thanks!

[2019-01-27 12:37] #94 closed

[2019-01-30 15:57] Overbryd commented on #91
I found the same.
Triggered in my helm templating. Both are of type `map[string]interface{}`.
Helm uses [Masterminds/sprig](https://github.com/Masterminds/sprig) to provide merge functionality for their template values.

This breaks the idea and "contract" implemented here: https://github.com/Masterminds/sprig/blob/master/dict.go#L80
I will also create an issue on their side.

I whipped up an exam

[2019-01-30 16:10] vdemeester commented on #91
@Overbryd if you use `mergo.WithOverride` in the `Merge` methods, it should work..

[code]

This will print `map[deep:map[enabled:false] key:overwritten]`

[2019-01-30 17:52] Overbryd commented on #91
@vdemeester thanks, I can confirm that `mergo.Merge(&map1, map2, mergo.WithOverride)` works as expected.

[2019-02-21 23:38] alexkursell opened #100 "Bug: Map fails when struct has an interface member"
```mergo``` panics when the following code is run:

[code]

producing ```panic: reflect: call of reflect.Value.IsNil on string Value```. This panic occurs if any interface type at all is specified for ```Member```

[2019-02-24 03:01] svyotov opened #101 "Merging slices WithAppendSlice produces different merge order than expected"
For input (the example from merge_appendslice_test.go)
[code]
I get different output that what I would expect
[code]
Since we are merging S2 into S2, the order of the elements I would expect would be fist the elements of the slice of S1 and then the elements of the slice of S2.

[2019-02-24 11:18] svyotov commented on #101
This is not a good description of the issue I have encountered, closing until I can describe it better.

[2019-02-24 11:18] #101 closed

[2019-02-28 01:11] svyotov commented on #90
This also panics:
[code]

[2019-02-28 13:01] svyotov opened #103 "Inconsistent merge behavior"
The first test, when merging maps with succeed, while the second, where the same maps are being merged as fields to structs it will fail.
I am not sure if this is intended behavior or not, IMO this is a bug.

[code]

[2019-02-28 13:52] svyotov commented on #103
Found the bug: https://github.com/imdario/mergo/blob/master/merge.go#L142 does not take into consideration Strucs.
[code]

[2019-03-01 20:08] evadnoob opened #104 "Map results in surprising key case"
`Map()` results in a map with keys that are surprising. For example A struct with member `CIDR`, its resulting key in the map is `cDIR`. A member with `Name` results in a key with `name`, less surprising but still odd. It's like the `Map()` call is taking the inverse of the first character always. Is this by design? I think this behavior is in conflict with the documentation: "Keys are capitalized

[2019-03-02 13:37] svyotov commented on #90
I think from my debugging that this is the reason why this is happening: https://stackoverflow.com/a/49147910/2213164

[2019-03-06 10:06] svyotov commented on #89
As far as I can see this is because of https://github.com/imdario/mergo/blob/9316a62528ac99aaecb4e47eadd6dc8aa6533d58/mergo.go#L36-L59
Merging Boolean and Numeric values that are false or zero are considered empty thus replaced.

[2019-03-12 22:56] kodeninja opened #107 "Simulating patch-like functionality"
Given the yamls like below:

**default.yaml**:

[code]

**staging.yaml**:

[code]

I want this merged yaml:

[code]

Is there a way to achieve this kind of behavior thru mergo? Currently, it converts `services["A"].host` and `services["A"].scheme` to `nil` in the merged object representation.

[2019-03-13 04:16] kodeninja commented on #107
The motivation is to maintain env-specific yaml files that contain various configuration. I want to keep a base yaml (`default.yaml`) that defines all the configuration, and then for each environment (dev/staging/prod...) define only the _delta_ in those yamls to keep things DRY.

To give an equivalent from js/node, this is roughly what I'm looking for: https://runkit.com/embed/j9xi2bu00a74

And,

[2019-03-13 04:52] kodeninja commented on #107
Cross-posted on SO: https://stackoverflow.com/questions/55134454/simulating-patch-like-merging-in-go-structs-read-from-yaml-files

[2019-03-13 16:44] vdemeester opened #109 "Add benchmarks"
to make we keep improving performance… or at least we don't degrade it :angel:

[2019-03-16 18:19] mholt commented on #107
I have this question also. I'm looking into using this library, but a merge that doesn't completely replace the whole struct would be needed.

[2019-03-16 18:23] mholt commented on #107
@kodeninja In reading your SO post, I just noticed that you use `WithOverride` transformer. I don't think it should happen if you remove that transformer. (See this project's readme examples.)

[2019-03-18 20:27] kodeninja commented on #107
@mholt I've tried both with and without override enabled, and neither gets me the behavior I want.

[2019-04-15 12:26] silvin-lubecki opened #111 "WithOverride should be able to check types"
Merging slices with the `WithOverride` option does not check that the slices have the same type. But before #96, one could use the `WithAppendSlice` option to have a "strict" override, failing if the types are different (check this test, failing now with mergo master https://github.com/docker/app/blob/master/types/parameters/merge_test.go#L10 ).

I propose to add an option, like `WithStrictOverrid

[2019-04-23 00:49] randallmlough opened #114 "Embedded struct of pointer types will overwrite the whole destination struct"
If you create a struct that contains multiple pointer types and then attempt to merge two of them together where only one of those types has a value, then the whole destination struct will be overwritten.

Simple example
[code]

I saw issue #47 and the PR that followed it, but that doesn't seem to solve this issue

[2019-04-25 11:28] yannh opened #115 "Issue #84 not fully solved yet"
Hello :wave:  I wrote the following test which fails (renamed from a Issue84 test with a similar problem)
[code]

It prints:
[code]
Would I be correct to expect p1 to contain map[A:0 B:1 C:2 D:nil] ?
If yes, I can have a go at fixing it - let me know if you want to reopen #84 (it seems to be a similar problem) or if I should create a new test file. Thanks!

[2019-05-01 14:39] mcandre opened #117 "Enhancement: Make WithOverride the default behavior"
Users expect a struct merging library to go ahead and override destination values with source values. Can we therefore have `WithOverride` be the default setting?

If there is a backwards compatibility concern, we can deprecate the old merge method and provide a new method name.

[2019-05-01 14:43] mcandre commented on #117
Hmm, WithOverride doesn't quite exhibit the right semantics. All default configuration subtrees not overridden by explicit configuration subtrees should remain default. WithOverride seems to erase leaves when any part of their subtree is overridden :(

[2019-05-01 14:43] #117 closed

[2019-05-15 21:31] johnSchnake opened #118 "Custom transformer can't get around isEmptyValue logic"
I was specifically trying to write a transformer so that I could differentiate between nil slices (the zero value) and an empty slice. However, the transformer doesnt get applied because of this line https://github.com/imdario/mergo/blob/master/merge.go#L66

Which says it only applies the custom transform _if_ the dst value is not `isEmptyValue` which mergo defines as `len(slice)==0`

So even when

[2019-05-17 20:01] johnSchnake commented on #118
This is phrased as a question I suppose but my intent is more closely represented by:

I hit a piece of logic which wasn't clear to me that I couldn't/shouldn't be able to override. I would like a way to either:
 - apply transforms regardless of the isEmptyValue logic
 - override that isEmptyValue logic in general so I could provide a new option such as `DifferentiateEmptyAndNil`

And the follow u

[2019-06-13 15:02] shivamMg opened #119 "Question: what's the expected behavior for map keys with different values"
[code]

[2019-06-14 18:02] chrislovecnm commented on #118
Did you figure out a solution for this?

[2019-06-17 13:49] johnSchnake commented on #118
No, I worked around this entirely by saving the values I needed, running mergo, then applying fixups to the merge logic manually.

[2019-06-27 09:19] ystyle opened #121 "how to merge slice struct"
[code]
Will print
[code]
I want to got
[code]

I want to merge two sorted Detail slice data

[2019-07-06 10:56] imdario commented on #109
Shall we try to benchmark real-world scenarios? I think we could work with Docker examples.

PS: I'm back, for real :wave:

[2019-07-08 06:12] BiteBit commented on #121
This may be what you want.
https://godoc.org/github.com/imdario/mergo#WithAppendSlice

[2019-07-08 08:13] vdemeester commented on #109
@imdario yeah we can :) I think there is docker example (in `docker/cli` and `docker/app` for compose file merging) and might be also some k8s examples

[2019-07-09 12:54] imdario commented on #109
Actually, I was thinking on giving mergo `go generate` powers. These benchmarks are going to be useful to test and compare this code generation approach.

[2019-07-15 09:29] ystyle commented on #121
@BiteBit
[code]

[code]

both not `{A:two B:2 Details:[{A:one B:B}]}`

[2019-08-27 18:03] VimalKumarS opened #123 "Feature : Override Nil on merge"
Request feature : override nil, if want to nullify dest with nil value

        dest:= make(map[string]interface{})
	src :=make(map[string]interface{})

	dest["col1"]=2
	dest["col2"]=3
	dest["col3"]=3
	src["col1"]=nil
	src["col2"]=4
	src["col2"]=nil

	mergo.Merge(&dest, src,mergo.WithOverride)

I tried to change code in order to set nil  line#96

[code]

thanks
Vimal

[2019-09-16 08:10] boosh commented on #90
I had something similar. The following code in mergo was causing  a panic:
[code]
I fixed it by initialising a map in `src`. It seems this particular piece of code is at fault.

[2019-09-23 09:24] rusdevops opened #124 "Make overwriteWithEmptyValue flag as exported"
Can you make exported OverwriteWithEmptyValue flag ?
https://github.com/imdario/mergo/blob/4c317f2286be3bd0c4f1a0e622edc6398ec4656d/merge.go#L33

[2019-10-06 00:25] thaJeztah commented on #114
@vdemeester looks like this can be closed (fixed by https://github.com/imdario/mergo/pull/120)

[2019-10-06 00:26] thaJeztah commented on #111
@vdemeester @silvin-lubecki looks like this can be closed (fixed by https://github.com/imdario/mergo/pull/112)

[2019-10-07 05:16] vdemeester commented on #111
Indeed, thanks :+1:

[2019-10-07 05:16] #111 closed

[2019-10-07 05:16] vdemeester commented on #114
Indeed, thanks :+1:

[2019-10-07 05:16] #114 closed

[2019-10-12 01:43] PeerXu commented on #121
I have the same problem.

[code]

[2019-10-12 01:46] PeerXu commented on #121
I have the same problem.

[code]

[2019-10-30 22:41] TomasVojacek opened #127 "use *bool as nullable boolean"
proposal use *bool as nullable boolean
mergo will copy any not nil value to dst

index 3fb6c64..80e733b 100644
--- a/merge.go
+++ b/merge.go
@@ -170,6 +170,13 @@ func deepMerge(dst, src reflect.Value, visited map[uintptr]*visit, depth int, co
                        dst.Set(reflect.AppendSlice(dst, src))
                }
        case reflect.Ptr:
+               if src.IsNil() {
+

[2019-11-15 08:36] kidlj commented on #100
Any update on this?

[2019-11-26 14:02] quentinalbertone opened #129 "Merge Boolean"
Hello,

I would like to `mergo.merge` two struct which contain boolean. It works well when I replace the actual value with `true` but not the opposite. I suppose that `false` is the default value for boolean variables and it is also the zero value.
Could you tell me how to replace the boolean please

[code]
I may be confusing the main purpose of mergo ?

Thanks

[2019-11-27 02:44] owlwalks opened #130 "Feature request: op for union set of slice values"
Do we want something like this:
[code]

[2019-12-02 17:32] JackQuincy commented on #127
This broke my team on the latest vendor after this change https://github.com/imdario/mergo/pull/120 before we could use a *bool to allow false to overwrite true. But with that change it no longer works.  I'd like it if mergo can look at the pointer and see if the Elem().Kind() is a native type(not pointer or struct? or just int, bool etc.) and allow zero value to overwrite a non zero value. And ma

[2019-12-08 14:28] github4jiawen commented on #89
This can be accomplished with custom bool and transformer feature
[code]

[2019-12-08 14:30] github4jiawen commented on #129
Duplicate of #89

[2019-12-08 14:31] github4jiawen commented on #127
Duplicate of #89

[2019-12-08 14:36] github4jiawen commented on #123
[#89](https://github.com/imdario/mergo/issues/89#issuecomment-562954181) may help

[2019-12-22 19:47] rusdevops commented on #123
I hope [128 PR](https://github.com/imdario/mergo/pull/128) resolve this issue.

[2019-12-22 20:07] #124 closed

[2020-01-12 02:31] svyotov commented on #14
As far as I am aware it is not possible to differentiate between a string value not having been set or being empty "". Both "" and nil will result in the same value. If `""` was to be considered unset, then merging with it when the user explicitly set the value to "" we will get wrong results.

Is there any solution? Yes, if the value is a pointer to a string, in such cases the code will receive n

[2020-01-13 10:23] xt99 opened #131 "Breaked merge of bool pointers in 0.3.8"
Hello,
First of all, I would like to thanks contributors for this great library!

We use mergo a lot in our project for merging structs. We have bools there and I'm aware about the issues with merging `false` values (which can be empty or can be set by user) to the `true` values. This is why we're using pointers to booleans. Following code worked well with `0.3.7` version and was giving us correct

[2020-01-17 15:54] frickenate opened #134 "Support for deep merge with copy by value?"
Am I correct to assume there is no support for a deep merge that always makes cloned copies of all nested members? Right now running `Merge()` with a source and destination containing nested elements—for example—a `map[string]map[string]struct{}`, makes a copy of the the outer `map[string]`, but each inner `map[string]struct{}` in destination winds up simply pointing to the same maps in memory tha

[2020-01-28 03:20] doortts opened #136 "Is there any nice way to merge different types?"
Thank you for the great work.

I read mergo supports only the same struct type.
But I wonder there is any nice way to merge different types.

For example, something like following style.

[code]

[2020-01-28 09:12] imdario commented on #136
This was a decision I took seven years ago. Maybe I can check it again. Anyway, I need some time to attend all the pending PRs and issues.

[2020-02-21 21:32] tzachshabtay commented on #131
Workaround:

[code]

[2020-02-25 13:42] alexellis commented on #107
@mholt I have a similar issue, to this and to #130

The example is:

base:

[code]

override:

[code]

merged:

[code]

actual: 😞

[code]

What did you both settle on for your use-case?

[2020-03-05 05:54] thinkgos commented on #136
I use [http://github.com/jinzhu/copier](copier)  to  copy value from struct to different struct and more

[2020-03-05 14:54] amreo opened #138 "How can I avoid type mismatch between int and float"
Hi. When I execute this code I get the error `panic: type mismatch on Port field: found float64, expected uint16`. How can I avoid this error?
[code]

[2020-03-25 08:08] imdario commented on #90
It should be fixed now.

[2020-03-25 08:08] imdario commented on #14
Pleas, check again with the lastest version, @accerqueira.

[2020-03-26 20:13] mtrmac opened #139 "0.3.9 no longer merges public fields in embedded structs"
The documentation of `Merge` includes:

Yet in 0.3.9:
[code]
and that used to be the case with 0.3.8, returning
[code]

0.3.9 ignores the embedded struct entirely, returning
[code]
Using a public name for the `inner` struct does cause the fields to be merged recursively.

AFAICS this was intentional or at least noticed, https://github.com/imdario/mergo/pull/105#pullrequestreview-212803136 points t

[2020-03-26 21:18] imdario commented on #139
I'm checking this. Although, in your example you are using MergeWithOverwrite. I just tested Merge and it works fine. So, the issue is limited to MergetWithOverwrite.

[2020-03-26 21:29] mtrmac commented on #139
FWIW I’ve taken an uninformed attempt at fixing this, but it would be more involved than I can do right now.

Enabling merging to happen for any struct field that is a struct and (recursively) contains a public field does not work because that involves assigning to newly-allocated private fields (the embedded struct), which Go rejects.

Reverting more of the struct merge code, to use the previous

[2020-03-26 21:30] mtrmac commented on #139
Fortunately, the use in containers/image can be modified not to use an unexported embedded struct, so this is not really urgent — for that use at least.

[2020-03-26 21:32] imdario commented on #139
I misunderstood your case. Your `inner` isn't an exported field. It has an exported field but it isn't exported itself. So, the behaviour actually matches the sentence:

`inner` doesn't comply the second clause, it's not exported, to be accessed recursively. So, I'm thinking the bug existed before and the PR fixed it.

I'm not sure now what is the proper approach here. I feel that there was a hidd

[2020-03-26 21:41] mtrmac commented on #139
Ah, that’s a very reasonable reading of the documentation as well.

OTOH pre-#105 `hasExportedField` seems quite intentional about including such cases — and there was a test for that behavior.

---

Pragmatically, c/image is going to change the type definition to use an exported field name: Just because the library tests fail and prevents upgrading the library dependency to 0.3.9 does not mean th

[2020-03-26 21:56] imdario commented on #139
I found it. This modification appeared because of issue #38. Before it just did deepMerge. My usual policy with PRs is that if previous tests run unmodified, I merge the PR after testing it. I think in both cases I overlooked these modifications.

Issue #38 doesn't make sense, as what he wanted was to overwrite a field that contained a *time.Time. Instead, he chose to access the embedded fields in

[2020-04-16 15:50] mattfarina commented on #139
I just caught this change because it breaks [sprig](https://github.com/Masterminds/sprig) which is used by [Helm](https://helm.sh). As a user of the library I would call this a breaking behavior change because the behavior was previously one way and is now different. This normally requires incrementing the major version in SemVer.

@imdario Is your intention to walk back the functionality change?

[2020-04-17 10:26] imdario commented on #139
@mattfarina The intended behaviour is the current one on 0.3.9. You shouldn't rely on being able to merge unexported fields in any case.

I understand this feels like a breaking change and I'm willing to release a new major version, but it wasn't an intended breaking change. It was a consequence of reversing a hidden behaviour that was introduced against the definition of the library.

[2020-04-20 18:54] mattfarina commented on #139
@imdario three things...

1. The behavior was not hidden. It was in use by Sprig and the tools that use it (e.g., Helm).
2. I caught the change because tests in Sprig failed after the update. We had tests for the situation.
3. Do you have any suggestions on handling this other than a fork?

[2020-04-20 20:15] imdario commented on #139
@mattfarina I need to give to this some thought. Not sure now how public fields of embedded structs should be handled.

I worry this going to keep coming back, although Go reflect returns embedded fields as unexported. So, the library in 0.3.9 is coherent with Go reflect design, but at the same time, it seems to be not useful for the users.

[2020-05-04 17:00] AlbertoBarba opened #143 "0.3.9 no longer possible to override map fields with a different type"
https://play.golang.org/p/JPC8iO5ehZK

The provided code works as expected with version 0.3.8, but returns error in 0.3.9

[2020-05-05 18:18] Charles546 commented on #143
Having the same issue with my app also.

[2020-05-05 18:20] imdario commented on #143
Ok, I'm going fix this during this week.

[2020-05-06 20:11] zyzlik opened #144 "Question: can use both `WithTransformers` and `WithAppendSlice`?"
Noticed when I use transformers, `appendSlice` behavior doesn't work. Is that expected?

[2020-05-12 04:19] vilipwong commented on #84
Hello. i faced the same issue with boolean value, using `mergo.WithOverwriteWithEmptyValue` e.g:
[code]

Expected result:
`{A:3 B:4 C:false}`

Actual result:
`{A:3 B:4 C:true}`

[2020-05-12 04:27] vilipwong commented on #89
Hello, is `mergo.WithOverride` or `mergo.WithOverwriteWithEmptyValue` suppose to solve this ?

I faced the same issue with string and boolean value, using `mergo.WithOverwriteWithEmptyValue` e.g:
[code]

Expected result:
`{A:3 B:"" C:false}`

Actual result:
`{A:3 B:"note" C:true}`

[2020-05-17 12:47] imdario commented on #131
@xt99 The previous behavior caused a bug fixed by #125. Please use `mergo.WithOverwriteWithEmptyValue` to override with empty values.

[2020-05-17 13:00] imdario commented on #136
@doortts I adapted your example as a real test in Mergo. This would be the idiomatic way to do it, but I'm not sure what can happen if your type isn't local to your package.

[code]

[2020-05-17 13:00] #136 closed

[2020-05-17 13:42] imdario commented on #139
@mattfarina I'm testing your linked test, reducing to the core behavior of spring's `merge` template function:

[code]

I'm a bit confused because your expectations aren't fulfilled in earlier versions. These are the results by version:

- 0.3.9: cannot append two different types (int, string)
- 0.3.8: key "j" isn't overridden

[code]

- 0.3.5, 0.3.6, 0.3.7: the same as 0.3.8
- 0.3.4: like 0.3.8 b

[2020-05-17 14:08] imdario commented on #138
@amreo You can't. encoding/json always unmarshals numbers as float64. Mergo doesn't cast values, so you have to write your Config struct like this:

[code]

[2020-05-17 14:08] #138 closed

[2020-05-17 14:11] imdario commented on #144
@zyzlik Please, provide an example.

[2020-05-17 14:15] imdario commented on #89
@vilipwong Yes, `mergo.WithOverwriteWithEmptyValue` should help. I fixed this indirectly in #131. Anyway, I'm going to use your examples to make sure your use cases are covered.

[2020-05-17 14:29] georgysavva commented on #134
Hey. Any update on this?

[2020-05-17 14:41] imdario commented on #89
Ok, let's see. The OP's example expects `f2.Bar` to be false, and it is the destination variable, so it's always truthy.

I rewrote the example with more meaningful variable names, as it was misleading me to the opposite direction:

[code]

Your intention, from what I understood, is to keep the false value as is. Not sure why as I'm missing context here. I'm going to tag along and restate what I s

[2020-05-17 14:41] #89 closed

[2020-05-17 14:45] imdario commented on #127
I don't think this is really a duplicate of #89, but a duplicate of #131

@JackQuincy sorry for the issue, you should be able to go back to merge bool pointers using `mergo.WithOverwriteWithEmptyValue` in next release 0.3.10. Actually, you won't need to use bool pointers, as this affects any false value that is going to be merge.

[2020-05-17 14:45] #127 closed

[2020-05-17 15:00] imdario commented on #129
@quentinalbertone As stated in the README:

What you want is to override dest.B with a zero value, so you are going to need `mergo.WithOverwriteWithEmptyValue`. I pushed a test for your case to show how to use it:

[code]

[2020-05-17 15:00] #129 closed

[2020-05-17 15:08] imdario commented on #118
Sorry for not getting this earlier. Please, can you provide an example? Since this issue was created, some features have landed in master, but I'm not sure what you are trying to accomplish. I get the idea of what you want but not the context where it would be used.

Mergo is getting too much complex and the corner cases are getting harder to understand without more explanation.

[2020-05-17 15:13] imdario commented on #123
This is fixed in master, it will be available in next release 0.3.10.

[2020-05-18 06:57] imdario commented on #134
@frickenate There is no support currently. There won't be in the current implementation of Mergo, but I'm thinking of doing a major rewrite of the library. This could be a configurable behavior.

In the meantime, I think this can be achieved using transformers: https://github.com/imdario/mergo#transformers

[2020-05-18 06:57] #134 closed

[2020-05-18 07:05] imdario commented on #107
@mholt @alexellis I'm working in some improvements to fix bugs related to maps. I'll check if this use case is also fixed.

I'm also thinking about doing a major rewrite of the library, as it's getting harder to maintain as is.

[2020-05-18 07:19] alexellis commented on #107
We found a workaround for the time being which was to do a manual merge of parts of our structures before or after using the tool.

[2020-05-18 07:23] imdario commented on #107
@alexellis Thank you for your feedback. This is helpful. Is the code publicly available? I'm planning to try to sample uses cases from the largest projects using Mergo, so they are tested thoroughly.

[2020-05-18 07:31] alexellis commented on #107
I was that we had two usages somewhere @Waterdrips may remember. The first is here in a bootstrapping tool for [openfaas-cloud](https://github.com/openfaas/openfaas-cloud) -> https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/pkg/types/merge.go

User supplies a config, we have a base config and then they are merged together. The issue was that the underlying base list of secrets was b

[2020-05-18 07:33] georgysavva commented on #134
Understood. Thanks!

[2020-05-19 08:40] rusdevops commented on #123
@imdario, thanks, we will be very grateful for the early release of the new release - **0.3.10**.

[2020-05-21 19:44] Waterdrips commented on #107
Second usage that I remember is here:
https://github.com/alexellis/derek/blob/73b0fd570ffd7ce11cdeaf1ef07651178fec700e/types/merge.go#L7

[2020-05-22 07:13] vilipwong commented on #89
I see. i was using release `v0.3.9`, it works when i go get `@master`. Any reason why its not released ?
@imdario

[2020-05-22 12:09] imdario commented on #89
@vilipwong I want to do the release with some more fixes from v0.3.9 related bugs.

[2020-05-26 12:06] kaka19ace opened #145 "Question: Why dst UnsafeAddr need multiply 17 as visit map key ?"
Source Code: https://github.com/imdario/mergo/blob/v0.3.9/merge.go#L69
[code]

[2020-05-27 22:28] iamhopaul123 opened #146 "Bug: mergo fails merge properly when it comes to map of struct"
[code]

Ideally it should output something like `&{0xc000010250 0xc000010260}`. However, the real output is `{0xc000010250 <nil>}`, which means that `D: &s2` is ignored and not merged to `dest`.

The only work around is to make it pointer of struct like the following:
[code]

And the output is `&{0xc000010250 0xc000010260}` which is expected.

[2020-06-09 09:50] loeffel-io opened #149 "How to overwrite Struct Pointer Field with nil?"
**Following code DO NOT overwrite user with nil**

Tested with all kind of options: mergo.WithOverride, mergo.WithOverwriteWithEmptyValue, mergo.WithOverrideEmptySlice, mergo.WithTypeCheck

[code]

[code]

[2020-06-09 09:58] loeffel-io commented on #123
Need this too

[2020-06-09 09:59] loeffel-io commented on #149
Looks like #123

[2020-06-09 10:02] loeffel-io commented on #149
Looks like this is not fixed in `v0.3.10-0.20200608072158-7527e3cdd3f4`

[2020-06-12 13:46] AlbertoBarba commented on #143
Hey @imdario, is there any news about this?

[2020-07-02 19:16] kirk-patton opened #152 "v0.3.9 returns an error on merge when fields are of different types"
This works in v0.3.8 and earlier, but returns and error in v0.3.9

[code]

[2020-07-02 19:36] kirk-patton commented on #152
This may be related to: https://github.com/imdario/mergo/issues/143

[2020-07-16 17:11] imdario commented on #143
@AlbertoBarba Sorry, I had very little free time. I'll try to check issues during this week.

[2020-07-16 17:50] #121 closed

[2020-07-16 17:51] imdario commented on #121
Solved and merged, although through a different PR (#151)

[2020-07-16 18:03] imdario commented on #115
PR for this issue merged

[2020-07-16 18:03] #115 closed

[2020-07-16 18:03] iancboswell opened #154 "reflect.Value has no field or method IsZero"
I'm getting this error after updating to the most recent version of mergo:

[code]

My Go version is 1.12.15. I'm wondering if IsZero was added into a more recent version of Go? Any chance this part of the codebase can be backwards-compatible somehow? Or is something else at play here? Checking out `4d20b46` gets rid of the problem for me.

[2020-07-16 18:12] imdario commented on #154
@iancboswell It appears in Go 1.13: https://github.com/golang/go/issues/7501

A simple way to keep backward compatibility would be copying the function reflect.IsZero as it was implemented in 1.13: https://go-review.googlesource.com/c/go/+/171337/9/src/reflect/value.go

[2020-07-16 18:19] imdario commented on #145
The basis of mergo is src/reflect/deepequal.go. At some point, the Go team implemented the hashing of pointers with this code. I checked the current implementation and it has changed a lot.

This confirms the need to do a clean room implementation, as it is getting cumbersome to maintain the library.

[2020-07-16 18:19] #145 closed

[2020-07-16 19:30] imdario commented on #123
@rusdevops Sorry, I wasn't able to do an early release. I'm working fixing 0.3.9 specific bugs and merging other PRs.

[2020-07-16 20:43] imdario commented on #149
Fixed in branch issue-149. Some tests are failing there because master is broken right now. I'll check what is happening (it isn't from the changes I did to fix it).

By the other hand, please avoid in the future comments like "Same trash as mergo". Not only for me, but also for the maintainers of conjungo. I can't speak for them but I create and share my code in my free time. Mergo isn't perfect

[2020-07-17 18:27] imdario commented on #152
@kirk-patton It is the same bug. Closing this issue in favour of the other.

[2020-07-17 18:27] #152 closed

[2020-07-17 22:33] imdario commented on #139
Resolved by reverting PR #105

[2020-07-17 22:33] #139 closed

[2020-07-17 22:34] imdario commented on #143
Resolved by reverting PR #105

[2020-07-17 22:34] #143 closed

[2020-07-17 22:34] imdario commented on #146
Resolved by reverting PR #105

[2020-07-17 22:34] #146 closed

[2020-07-17 22:37] imdario commented on #91
Solved fixing #143 by reverting PR #105

[2020-07-17 22:37] #91 closed

[2020-07-17 22:39] #5 closed

[2020-07-17 22:39] #34 closed

[2020-07-17 22:39] #109 closed

[2020-07-17 22:53] #149 closed

[2020-07-17 22:58] #72 closed

[2020-07-17 22:58] #46 closed

[2020-07-17 23:04] imdario commented on #83
This works:

[code]

[2020-07-17 23:04] #83 closed

[2020-07-17 23:05] imdario commented on #130
Enhancement closed but it will be taken into account in the new cleanroom implementation of Mergo.

[2020-07-17 23:05] #130 closed

[2020-07-17 23:06] imdario commented on #107
This will be taken into account in the new cleanroom implementation of Mergo.

[2020-07-17 23:06] #107 closed

[2020-07-17 23:07] #14 closed

[2020-07-17 23:07] imdario commented on #14
This will be handled in the new cleanroom implementation.

[2020-07-17 23:11] imdario commented on #100
@kidlj Fixed in master.

[2020-07-17 23:11] #100 closed

[2020-07-17 23:13] #118 closed

[2020-07-17 23:14] #144 closed

[2020-07-17 23:15] imdario commented on #104
Works in current master (future 0.3.10).

[2020-07-17 23:15] #104 closed

[2020-07-17 23:16] imdario commented on #119
This should override, but I'm closing the issue because I'm going to work on a new cleanroom implementation. This issue will be taken into account.

[2020-07-17 23:16] #119 closed

[2020-07-17 23:21] imdario commented on #154
Closing the issue as the code using IsZero is gone after reverting PR #105. I'll take into account for future PRs to keep backward compatibility.

In any case, keep in mind that the official support policy of Go is to keep the last two major releases. Go 1.13 is not longer supported by the Go team.

[2020-07-17 23:21] #154 closed

[2020-07-17 23:22] imdario commented on #90
Reopening this issue as its PR introduced too many bugs.

[2020-07-17 23:22] imdario commented on #103
Reopening this issue as its PR introduced too many bugs.

[2020-07-17 23:23] imdario commented on #123
Reopening this issue as PR #105 introduced too many bugs, and this issue isn't fixed with the current state of master.

[2020-07-17 23:25] imdario opened #155 "Recover PR #147"
https://github.com/imdario/mergo/pull/147

[2020-07-17 23:36] #123 closed

[2020-07-18 10:22] #155 closed

[2020-07-18 10:32] imdario commented on #155
I'm unable to recover this PR.

[2020-07-19 21:24] iancboswell commented on #154
Thanks! Noted re: Go major versions, though I actually have to run on an even older version of Go (1.12) when I deploy to Google App Engine. They do have an issue with not keeping up to date generally, but I don't think that kind of production scenario is uncommon.

[2020-07-23 18:43] vitroz opened #157 "Date columns getting overriden when merging"
Hi guys, I am facing a small issue with Time columns.

[code]

Using `mergo.WithOverride`, when I try to merge my DB record with an incoming API patch request, and this request only has an updated text field, like Name, for example, all date columns are set to `0001-01-01 00:00:00`. If I provide the date columns, everything works as expected. But I am now obliged to always provide all the date fie

[2020-07-24 13:36] vitroz commented on #157
Closing issue. Found answer on #52

[2020-07-24 13:36] #157 closed

[2020-07-24 13:38] imdario commented on #157
@vitroz Nice. Thank you!

[2020-07-30 08:52] darccio opened #158 "reflect.Value.Set using unaddressable value"
From https://github.com/docker/cli/issues/1981:

[2020-07-30 15:20] TomUnequals commented on #89
For those of you who need it, @Pothulapati built a fork that solves this [here](https://github.com/Pothulapati/mergo/commit/5a1b1cee7b3f9022825154dea4dcf5fb0dceecb8).

[2020-07-30 15:20] TomUnequals commented on #24
For those of you who need it, @Pothulapati built a fork that solves this [here](https://github.com/Pothulapati/mergo/commit/5a1b1cee7b3f9022825154dea4dcf5fb0dceecb8).

[2020-08-11 01:05] akamble-splunk opened #159 "Unexpected outcomes while trying to merge two instances of type reflect.Value"
https://play.golang.org/p/Jewi51WT-gZ

The expected outcome here is:
[code]
but we get:
[code]
which means if the dest has no value provided, the value from src will be used.

I tried this with a few different versions of the library: specifically 0.3.7, 0.3.8 & 0.3.10. Got the same response in all cases.

Although, with the version 0.3.9, I got a different response, still incorrect
[code]
The fie

[2020-08-11 18:24] bionoren opened #160 "inefficient and unused default merge conditional"
As of this writing, merge.go:274-278 read thus:
[code]

This is the only place the text "TestIssue106" occurs in this codebase (confirmed via `find . -type f | xargs grep "TestIssue106"`). I suspect this is leftover from a recent testing refactor. The conditional isn't so bad, but the Sprintf overhead adds up for large structs. In addition to the possibility for unexpected prints if someone's stru

[2020-08-11 19:51] imdario commented on #160
New version released: https://github.com/imdario/mergo/releases/tag/v0.3.11 Thanks!

[2020-08-11 19:51] #160 closed

[2020-08-11 21:59] bionoren opened #162 "nested non-addressable values cannot be merged"
nested non-addressable values cannot be merged

My specific problem is this: given two structs with interface{} fields that contain struct values of the same type, the interface{} fields are not deeply merged.
[code]
expected value of dst:
[code]
actual value of dst:
[code]

The reason for this is that merge.go:267 calls deepMerge with the interface values (`[value].Elem()`). However, since those

[2020-08-12 06:26] saranshlamba opened #163 "WithAppendSlice - append only to destination if unique"
I am using mergo for merging two structs like this

[code]

With below inputs
[code]

When I use WithAppendSlice, the outcome is

[code]

where-as the desired is

[code]

meaning, if say a port already exists (in this case port:1) in the destination, then do not append that from source, append only the ones which are not in destination.

[2020-08-12 07:13] imdario commented on #163
Mergo doesn't support this kind of deduplicating logic. I advise using a Transformer for this kind of tailored behavior: https://godoc.org/github.com/imdario/mergo#hdr-Transformers

[2020-08-12 07:26] imdario commented on #159
I'm not sure trying to merge reflect.Value is the safest option. It seems to be mergeable because the struct contains a pointer to the underlying data, but it feels like you are relying on an internal implementation detail for that, which is usually a bad idea.

I would go for the code in your second link, it looks clearer and less magic. Anyway, I will take this into account in the next big versi

[2020-08-20 21:06] bionoren commented on #159
The sample code is definitely not going to do what you want as provided, mostly because you don't actually want to merge go's internal reflect.Value structs. You actually want to merge the things *in* those reflect.Value structs. That's possible, but it would take a fair bit of work. Ultimately, it's imdario's call, but it sounds like he considers this out-of-scope.

In more detail:
You're asking

[2020-09-02 12:59] tn185075 opened #164 "Can't pass yaml Unmarshalled map[string]interface as src to Merge()"
I have tried to pass
*  json unmarshalled map[string]interface{} as dst,
*  yaml unmarshalled map[string]interface{} as src,

then this error comes up,

goroutine 36 [running]:
github.com/codegangsta/negroni.(*Recovery).ServeHTTP.func1(0x11080d0, 0xc000090298, 0xc0000c8280, 0xc000098300)
        C:/Users/TN185075/go/pkg/mod/github.com/codegangsta/negroni@v1.0.0/recovery.go:159 +0xd2
panic(0x8d7020

[2020-09-02 13:02] #163 closed

[2020-09-04 05:18] tn185075 commented on #164
I got this resolved by using latest yaml release for Go. Thanks for making my work easy mergo 🙌

[2020-09-04 05:18] #164 closed

[2020-09-23 11:54] neppi opened #165 "Merge with override using bool values gives unexpected behavior."
[code]
results in

[code]
BoolB is expected to be false too.

[2020-10-12 14:57] vasilevkirill opened #166 "Boolean not empty"
hi im use this code

[code]
Log Printing
```{Name:SDWAN-CLIENT-878 Enabled:true AutoNegotiation:true Speed:1000 FullDuplex:true FlowControlTx:true FlowControlRx:false}```

I am waiting Field `Enabled` equal `false` same as in the variable `newInterface`

it's possible in mergo?

thanks.

[2020-10-13 21:01] rpflynn22 commented on #159
Just wanted to circle back on this. I was able to change the code in the original post to make it behave as desired. The problem seemed to be making an unnecessary call to the reflect Value's Elem method, which was essentially dereferencing the underlying pointer type.

I would like to point out that, documented or not, this library seems to gladly accept interface{} types in the Merge function as

[2020-10-20 11:54] dgurns commented on #165
Having the same issue here. Merging will update `false` to `true`, but will not update `true` to `false`, since perhaps it sees the incoming `false` as a zero value. Seems like a pretty basic use case though. Am I missing something?

[2020-10-20 16:03] dionysius commented on #165
Yes, this is definitely it what @dgurns wrote. `false` is the zero value for `bool` so it is IMO correct that mergo acts that way. You have the option `WithOverwriteWithEmptyValue` to include zero values also to ovewrite

[2020-10-20 16:42] dionysius opened #167 "Also with transformers: panic: reflect: reflect.flag.mustBeAssignable using unaddressable value"
https://play.golang.org/p/gjrJVEVi5ju

I believe this issue has **probably** the same root cause as #162 #103 #90. I added this issue because I'm experiencing this bug as well when using Transformers.

The transformer in short: it merges a slice of a struct by a matching field name so that in the resulting slice is still unique for that field name, that's why `WithAppendSlices` is not sufficient f

[2020-12-09 03:34] rizzi37 commented on #166
issue131_test maybe help you.

[2020-12-17 11:14] vtolstov opened #172 "field name by struct tag"
What you think about adding ability to specify src name via struct tag?
For example i have dst like
[code]

and have src like
[code]

[2020-12-19 20:01] vtolstov commented on #172
gentle ping..
As i saw the code changes are not big and can be enabled by option for example

[2021-01-12 23:25] #159 closed

[2021-01-15 04:52] leopku opened #173 "[Proposal]skipping fields"
* Skip permanently by tag mergo:"..."

For example, ID and UserID would never merged every time
[code]

* Skip temporally by something like WithSkipOption

For example, AdminContent would not merged only this time.

[code]

[2021-01-18 22:09] vtolstov commented on #173
very useful thing, did you mind to provide pr ? =)

[2021-01-25 07:37] leopku commented on #173
I had reviewed codes related this feature.
But I found it should be a big change for supporting this feature.
Because I'm new to this project, and had not dive into source codes.
Sorry @vtolstov .

[2021-01-27 17:05] abicky opened #174 "panic: reflect: reflect.Value.Set using value obtained using unexported field"
`mergo.Mege` panics when the following code is executed:

[code]

[2021-02-11 09:57] tn185075 opened #176 "Merge Map: Can't merge maps inside array"
eg:

Merge (With Override)
[code]
with
[code]

expected:
[code]
got:
[code]

[2021-02-22 23:59] mauricioabreu opened #178 "Zero number being ignored"
Given this example:

[code]
Output:

[code]

How can I make the `0` to be replaced?

[2021-03-01 13:42] imdario commented on #172
@vtolstov Unfortunately, I'm not able to deliver this kind of feature. Also, the current version is frozen for new features. I'll work in a new codebase from scratch at some point, so I'm taking note of this.

[2021-03-01 13:42] #172 closed

[2021-03-01 13:44] imdario commented on #165
@dgurns Please refer to the official documentation about zero values: https://golang.org/ref/spec#The_zero_value

As you already wrote, and @dionysius confirmed, `false` is the zero value for bool.

[2021-03-01 13:44] #165 closed

[2021-03-01 13:46] imdario commented on #173
Mergo's main branch is frozen for new features. I take note of this feature for the next codebase from scratch.

[2021-03-01 13:46] #173 closed

[2021-03-01 13:47] imdario commented on #178
@mauricioabreu `false` is the zero value for `bool` so it is IMO correct that mergo acts that way. You have the option `WithOverwriteWithEmptyValue` to include zero values also to overwrite.

[2021-03-01 13:47] #178 closed

[2021-03-01 21:06] mauricioabreu commented on #178
@imdario thank you!

[2021-03-03 20:57] #174 closed

[2021-03-03 20:59] #90 closed

[2021-03-09 17:19] yhrn opened #181 "0.3.12 tag instead of v0.3.12"
The current latest release is tagged `0.3.12` instead of `v0.3.12` which means the module version becomes ugly:

[code]

[2021-03-09 19:13] smgladkovskiy commented on #181
@imdario please!

[2021-03-09 21:34] imdario commented on #181
Ouch, sorry!

[2021-03-09 21:35] imdario commented on #181
@yhrn @smgladkovskiy Re-released as v0.3.12.

[2021-03-09 21:35] #181 closed

[2021-03-11 08:37] mtt0 opened #182 "Merge with mergo.WithOverride gives unexpected behavior"
[code]

- `mergo.Merge(&dest, src, mergo.WithOverride)` gives `{one 2}`
- `mergo.Merge(&dest, src)` gives `{two 2}`

https://github.com/imdario/mergo/blob/29fb3d3bdc5512887f1dc9aedde6a0fed407fa8f/merge.go#L313

[Go PlayGround](https://play.golang.org/p/XHbOhz6NJxa)

[2021-03-12 07:30] System-Glitch opened #183 "Proposal: name override struct tag for map merging into struct"
## Context

When merging maps into structs, using `mergo.Map()`, it is not possible to merge all possible keys.

For example:
[code]

In this scenario, merging will not work because mergo will use `Pos_X` and `Pos_Y` as keys, which don't exist (and shouldn't exist because of Go naming conventions) in our struct.

## Proposal

For this kind of specific use-case, it would be handy to be able to use

[2021-03-22 09:57] imdario commented on #183
@System-Glitch New features won't be implemented in the current master branch. I'll take this into account for the next version.

[2021-03-22 09:57] #183 closed

[2021-04-05 08:54] funkycode opened #185 "Override value with empty struct"
original map:

[code]

As yaml:

[code]

override map:

[code]

as yaml:

[code]
merged map:

[code]
As yaml:

[code]

As you can see the both `vip` and `internal` are both kept while i override map has one of the declared as empty.

I tried both
`mergo.Merge(&origProfile, overrideProfile, mergo.WithOverwriteWithEmptyValue)`
and
`mergo.Merge(&origProfile, overrideProfile, mergo.WithOverwrite)`

[2021-04-15 18:56] liggitt opened #187 "overwriteWithEmptyValue is forced to `true` when merging an object involving maps"
https://github.com/imdario/mergo/pull/85 introduced a bug that can leave `overwriteWithEmptyValue` set to true if a map is encountered, but one of the `continue` or `return` statements is called before calling `deepMerge` (which reset to `false`)

https://github.com/imdario/mergo/blob/29fb3d3bdc5512887f1dc9aedde6a0fed407fa8f/map.go#L72-L100

https://github.com/imdario/mergo/pull/133 made the bug w

[2021-04-15 21:00] imdario commented on #187
@liggitt I regret I'm unable to fix this in a quick way. Can you provide a PR?

[2021-04-25 07:23] angeltears opened #188 "Override value with default fields"
[code]

[2021-04-29 20:21] frobones opened #189 "Readme showcasing mergo.Merge() is actually showing mergo.MergeWithOverwrite() functionality"
The demo code in the readme showcasing `mergo.Merge()`
[code]

is actually using `mergo.MergeWithOverwrite()`

[2021-05-13 12:03] MatanTubul opened #190 "mergo.WithOverride not overriding empty string while type is Stringptr"
I am new with mergo lib, i build the following POC, looks like
`Foo.A = ""` count like an empty field, not sure why. i expected that `Foo.A ="" will override Foo.A="two"`. i will glad to get an advise how to overcome it.
thanks
[code]

@imdario it might be i miss something regarding how to use this lib?

[2021-05-16 07:29] MatanTubul commented on #190
Update for the issue above, i solve it with transformer as follwos:
[code]

[2021-05-23 09:48] pckhoi commented on #131
I think adding `mergo.WithOverwriteWithEmptyValue` is mistaken. A pointer to `false` isn't an empty value.

[2021-06-03 18:35] clarkmcc commented on #165
@imdario The behavior is the same for pointers to boolean values, is that expected? Is there a way to get around this behavior using a custom transformer? Here is a reproducable script.

[code]

[2021-06-18 04:24] #176 closed

[2021-08-20 04:01] bykenx opened #194 "different behavior when copying string pointers."
[code]
[code]
Step1: ` t3.StrPtrField` is `nil`, `mergo` just assign the address of `t1.StrPtrField` to `t3.StrPtrField`,
Step2: `mergo` copy value of  `t2.StrPtrField` to `t3.StrPtrField`.

At step2, `mergo` has different behavior, `mergo` copy the value to `t3.StrPtrField`, finally, `t2.StrPtrField` and `t3.StrPtrField` all changed.
If the performance is correct, the behaviors of two steps shoul

[2021-08-30 21:40] jankrynauw opened #195 "Details on which fields/attributes were updated"
Hi, is there perhaps a way to see which fields have been updated after a merge?

[2021-10-16 19:18] normanjaeckel commented on #131
Can we please reopen this issue? `mergo.WithOverwriteWithEmptyValue` does not fix this.

[2021-11-12 20:31] UnknownCypher opened #200 "Reference to zero should be treated as non-empty value"
[code]

I would expect mergo to treat non-nil references as non-empty values, though it does when it references a zero value.

[2021-11-19 22:18] kotyara85 opened #201 "Merge without override assume false is a valid non empty type"
Here's an example

[code]

In this example test will be false. WithOverride won't really work here, because any other type will be overwritten in this case.
I guess custom transformers will help here?

[2021-12-02 08:49] faximan opened #202 "mergo.WithOverride on maps replaces old keys only for certain types"
See https://go.dev/play/p/wUmW7O4Fr5s.

If "x" is overridden (which is what I would expect), I don't see why "y" isn't.

[2021-12-09 11:13] nilsgstrabo commented on #201
According to docs [](https://pkg.go.dev/github.com/imdario/mergo#Merge) this is expected behavior
`Mergo won't merge unexported (private) fields`
Rename field **test** to **Test** and it will work as expected

[2022-01-20 22:41] anveshcsgi opened #204 "Merge arrays: Can't merge maps inside array"
eg: Merge with WithOverride

[code]

Actual Output
`map[partners:[map[common:common_field enabled:true] map[enabled:false name:new_src_element]]]`

Expected Output

`map[partners:[map[common:common_field enabled:true] map[enabled:false name:new_dest_element] map[enabled:false name:new_src_element]]]`

[2022-01-26 05:43] ben181231 opened #205 "The `struct` in map value is overwritten completely"
As mentioned in the title, the `struct` in map value is overwritten completely.
I don't whether it is expected behaviour from the implementor's perspective.
But the behaviour surprises me.

See. https://go.dev/play/p/99fVHhz2_L5

[2022-03-10 12:02] fubarhouse opened #206 "Update the yaml dependency to v3?"
Why hello!

Been using mergo for some time and was recently hit by something (link below). Seems the solution is to not use yaml v2 however I've noticed that mergo does use v2 of the yaml package. Is there any chance you'd consider updating it?

https://github.com/go-yaml/yaml/issues/139

[2022-03-24 22:23] zaquestion opened #207 "Proposal: built in support for protobuf wrapper types"
Hiya, firstly, thank you for this project, of the bunch out there offering similar functionality this package is the only one I found that really does the job right and offered enough configuration to handle edge cases or quirks of my particular needs.

One such need involved merging protobuf's wrapper types
Ref: https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.

[2022-03-25 06:05] vtolstov commented on #207
I'm prefer to avoid adding deps for protobuf. This types easy can be set via reflection (switch on Type().Kind.String and fill Value struct field)

[2022-03-25 06:06] vtolstov commented on #207
this is example code https://github.com/unistack-org/micro/blob/v3/util/reflect/struct.go#L390

[2022-03-28 18:58] zaquestion commented on #207
@vtolstov seems reasonable to leave the dependency out of this library, I'll close this out.

To your comment about this being doable with reflection and the example you linked. Are you suggesting that's a better alternative to the codesnippet I posted above? Is there some drawback to approach that I'm missing here?

[2022-03-28 19:21] vtolstov commented on #207
In you case you depend on Porto if library and code base, with my only reflection used.

[2022-03-28 20:18] zaquestion commented on #207
I see, so you wouldn't mind adding in a transformer that checked the types by string and set the values? You just don't want to directly depend on the protobuf library. In that case I'll reopen this.

[2022-03-28 20:20] zaquestion commented on #207
Should it still be implemented as a transformer, or should this logic be built into the default merging logic? Assuming we'd want the former, but I could see arguments for the later (such as that the merging behavior for these types would be more correct by default given their purpose)

[2022-03-30 12:11] tbnguyen1407 commented on #131
Hello, any update on this?

[2022-03-31 10:48] imdario commented on #131
@tbnguyen1407 No, sorry. My current job is time-consuming and I'm not able to deal with issues without PRs.

[2022-04-06 09:09] ruanspies commented on #195
Is this something that is of relevance to this project @imdario? If so, I am happy to contribute to this.

To expand on my understanding of what @jankrynauw is seeking using the demo:

[code]

It would be useful to have a way to know that field `A` comes from `dest` and field `B` from `src`.

My suggestion would be to have a `map[string]string` with the keys being the struct's field paths and the

[2022-04-22 15:08] imdario commented on #195
@ruanspies Not sure about this change.

[2022-04-26 21:12] bitcoin-coder-bob opened #208 "Override merging of pointers"
The behavior of merging with override enabled on pointers does not seem to be respected the same way as other types.

I have highlighted the behavior in this go playground: https://go.dev/play/p/AaVowu8Mvef

the `*string` does not seem to override.

Do I have to implement a transformer to accomplish this or is this a bug?

[2022-05-16 08:34] heaths opened #209 "Support merging top-level arrays"
It would be great if mergo supported top-level arrays. Seems it actually works if you expand the condition here:

https://github.com/imdario/mergo/blob/fd3dfc91a2151957f2fe870772747a469bc89ced/mergo.go#L68

[2022-05-16 08:50] heaths commented on #209
Would be helpful for cli/cli#1268

[2022-05-24 07:10] #166 closed

[2022-05-25 19:45] imdario commented on #206
@fubarhouse @mudler I've merged #212 to upgrade to v3.

[2022-05-25 19:45] #206 closed

[2022-05-25 19:47] imdario commented on #200
@UnknownCypher Zero values are the core behind the merging algorithm. If a pointer contains a zero value, it's virtually the same.

[2022-05-25 19:47] #200 closed

[2022-05-25 19:52] mudler commented on #206
Thanks for the heads up!

[2022-06-22 18:03] Segflow opened #215 "Merge use references to src instead of deep copying"
[code]

See in go [playground](https://go.dev/play/p/3LcBVRd23mJ)

**Expected behavior:**

I except t0 to have a **copy** of the map not a reference to it.

**Current behavior**

The above snippet outputs:
[code]

[2022-07-11 13:58] kooksee opened #216 "Determine whether to execute a custom transformer according to the types of SRC and DST"
1. For example, `int64 ` and `timestamppb Timestamp`

[2022-07-30 12:41] vasu-dasari opened #219 "Transformers: How to access underlying datatype"
Hi,

We are trying to do a custom merge on slices in our project. For simplicity I have used `IntSlice`(a custom type of slice of ints) in this example. The problem I see is, when I type case `src/dst` in the transformer function, it is coming out as empty [], although those variables do contain right elements.

My question is how to have the variables `srcSlice` and `dstSlice` cast to the type `I

[2022-08-10 06:10] ybbiubiubiu commented on #208
I have the same problem, hope it will be fixed soon
thx

[2022-08-13 06:14] tbnguyen1407 commented on #131
Hello, can you help look at the PR? @imdario

[2022-08-13 15:30] imdario commented on #131
@tbnguyen1407 Still the same situation. Would this code from @octobered help? https://github.com/octobered/mergo/commit/9e3abad214fff9790dd8b1fa2e7b0b1124d52de5

[2022-08-17 07:15] zhiyu0729 opened #220 "mergo WithSliceDeepCopy into differen types will causes painc"
[playground](https://go.dev/play/p/q79xNQKeKOJ)
[code]

below is painc message
[code]

[2022-08-18 06:45] mark8s commented on #202
I also encountered this problem, did you solve it?

[2022-08-18 08:22] faximan commented on #202
Nope, I worked around it with a manual merge.

[2022-09-03 19:52] huuhait opened #223 "Missing merge only empty dst and check empty value not work for struct"

[2022-09-22 15:20] aceaura opened #225 "WithSliceDeepCopy cannot merge nums in slice. Suggestion: Recomplete it as WithRecursiveOverride"
with golang 1.19
[code]
expected: map[a:[map[b:4] 5 3]]
reality: map[a:[map[b:4] 2 3]]

Suggestion： SliceDeepCopy is just a fake option with too many bugs. Please remove it and  readd  `WithRecursiveOverride`.
exmaple:
[code]
expected:
map[a:[map[b:7 c:2] [8 4] 9 6]]

[2022-10-28 13:38] eh-steve commented on #131
Does [this](https://github.com/imdario/mergo/pull/227) address the issue?

[2022-10-28 15:37] imdario commented on #131
@eh-steve I'll check it. Thanks.